body {
    margin: 0;
    overflow: hidden;
    background: black;
}

#game {
    width: 100vw;
    height: 100vh;
}

.controls {
    position: absolute;
    bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
}

button {
    width: 70px;
    height: 70px;
    background: #222;
    border: none;
    border-radius: 10px;
    font-size: 26px;
    color: white;
}
