body {
    margin: 0;
    overflow: hidden;
    background: #1a1a1a;
}

#game {
    width: 100vw;
    height: 100vh;
}

/* Controles Mobile */
.controls {
    position: fixed;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.controls button {
    width: 60px;
    height: 60px;
    border: none;
    background: rgba(255,255,255,0.15);
    color: #fff;
    font-size: 28px;
    border-radius: 10px;
}
