body {
    margin: 0;
    overflow: hidden;
    background: #000;
}

#game {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.controls {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
}

button {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background: #333;
    font-size: 28px;
    color: white;
    border: none;
    }
